.hit {
  background-color: rgb(238, 74, 74) !important;
}

.miss {
  background-color: white !important;
}

.actions {
  flex: 0.5;
  height: 10rem;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 40vmin;
}

@media (min-width: 700px) {
  .container-1 {
    display: flex;
    align-items: center;
  }

  .actions {
    padding-left: 10vmin;
  }
}

.shooting-grid > .taken {
  background-color: hsl(200, 100%, 50%) !important;
  border-radius: 0 !important;
}

.container-1 {
  margin-top: 3.8rem;
}

.Game-Container {
  text-align: center;
  width: 100%;
  height: 100%;
}

.grid-tag {
  margin: 0;
  margin-bottom: 0.3vmin;
}

#root {
  width: 100%;
  height: 100%;
}

.grids {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  flex: 2;
}

.shoot {
  height: 2rem;
  margin: 10px 5px;
  background-color: rgb(241, 58, 58);
  border: none;
  color: white;
  border-radius: 35px;
  width: 5rem;
}

.shoot:hover {
  background-color: rgb(209, 14, 14);
}

.battleship-grid {
  margin: 3vmin;
  margin-top: 0;
  display: grid;
  border: 1.5vmin solid hsl(200, 100%, 50%);
  background-color: hsl(200, 100%, 50%);
  grid-template-rows: repeat(10, 5.6vmin);
  grid-template-columns: repeat(10, 5.6vmin);
}

.battleship-grid div {
  border: 1px solid hsla(0, 0%, 100%, 0.2);
}

.start-button {
  height: 2rem;
  margin: 10px 5px;
  border: none;
  color: white;
  border-radius: 35px;
  width: 20rem;
  background-color: rgb(149, 247, 2);
}

.start-button:hover {
  background-color: rgb(141, 216, 20);
}

.set-boat {
  height: 2rem;
  margin: 10px 5px;
  border: none;
  color: white;
  border-radius: 35px;
  width: 20rem;
  background-color: rgb(99, 99, 99);
}

.set-boat:hover {
  background-color: rgb(83, 79, 79);
}

.ship > div {
  width: 5.6vmin;
  height: 5.6vmin;
}

.ship {
  display: flex;
  flex-wrap: wrap;
  margin: 1vmin;
  width: calc(5.6vmin * var(--width, 1));
  height: calc(5.6vmin * var(--height, 1));
  border-radius: 5.3vmin;
}

.destroyer-container {
  --width: 2;
}

.destroyer-container-vertical {
  --height: 2;
  --width: 1;
}

.submarine-container,
.cruiser-container {
  --width: 3;
}

.submarine-container-vertical,
.cruiser-container-vertical {
  --height: 3;
  --width: 1;
}

.battleship-container {
  --width: 4;
}

.battleship-container-vertical {
  --height: 4;
  --width: 1;
}

.carrier-container {
  --width: 5;
}

.carrier-container-vertical {
  --height: 5;
  --width: 1;
}

.taken,
.ship {
  position: relative;
  background-color: hsl(0, 0%, 80%);
}

.hit {
  position: relative;
  background-color: red;
}
.miss {
  position: relative;
  background-color: white;
}

.sunk {
  position: relative;
  background-color: black;
}

.square:hover {
  background-color: hsl(200, 92%, 60%) !important;
}

#move {
  pointer-events: none;
  left: 0;
  top: 0;
  position: fixed;
}

.Guide-1 {
  margin-top: 1rem;
}

.error {
  color: rgb(245, 20, 20);
  margin-bottom: 0;
}

.message {
  color: green;
  margin-top: 0;
}

.h-head,
.h-head::before {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.h-tail,
.h-tail::before {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.v-head,
.v-head::before {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.v-tail,
.v-tail::before {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.taken.vertical::before,
.taken.horizontal::before {
  content: "";
  position: absolute;
  border: 0.3vmin solid white;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
}

.taken.horizontal::before {
  animation: ripplesY 3s linear infinite;
  border-left: none;
  border-right: none;
}

.taken.vertical::before {
  animation: ripplesX 3s linear infinite;
  border-top: none;
  border-bottom: none;
}

@keyframes ripplesX {
  0% {
    opacity: 1;
    transform: scaleX(1.05);
  }

  100% {
    opacity: 0;
    transform: scaleX(1.5);
  }
}

@keyframes ripplesY {
  0% {
    opacity: 1;
    transform: scaleY(1.05);
  }

  100% {
    opacity: 0;
    transform: scaleY(1.5);
  }
}
