body {
  margin: 0;
  display: block;
  place-items: center;
  overflow-x: hidden;
}

p {
  font-family: "Lucida Console", "Courier New", monospace;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
