.loggedUser{
    background-color: lightyellow;
}

.notLoggedUser{
    color: darkblue;
}

#leaderTitle{
    background-color:#1f467a;
    color: white;
    border-radius: 10px;
    font-family: 'Arial', sans-serif;
}

#home{
    display:flex;
    flex-direction: row;
    align-items: center;
}

#leader {
    margin: 20px auto;
    background: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

#leaderTitle h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
    
}

.homeTable {
    border-collapse: collapse;
    font-size: 18px;
    background: #fff;
    border-radius: 8px;
    display:flex;
    max-height: 600px;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.homeTable thead {
    background: #007bff;
    color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.homeTable th, 
.homeTable td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.homeTable tbody tr:hover {
    background: #f1f1f1;
}

.loggedUser {
    background: #28a745 !important;
    color: white;
    font-weight: bold;
}

.notLoggedUser {
    background: #fff;
    color: #333;
}